<div class="group_details">
    <div class="group_details_content">
       <span class="group_details_content_title">Roles</span>
       <span class="group_details_content_search">
         Here will be search
       </span>
       <span class="group_details_content_selector">
         Here will be selector
       </span>
    </div>
    <div class="group_details_items">
        <div *ngFor="let item of _roles">
             <input type="checkbox" [(ngModel)]="item.isChecked" /> {{item.Name}}
        </div>
    </div>
</div>
